body {
    background-color: #625F70 ;
    font-family: Papyrus, Helvetica, Arial, sans-serif;
}

a {
    color: blue;
}

h1, h2, h3 {
    margin: 0;
}

#container {
    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #4E327D;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.content {
    display: flex; /* equal height of the children */
    padding: 0px 0px 0px 0px;
}

.nav {
    background-color: #c4d2f3 ;
    width: 160px;
    float: left;
    padding: 1em;
}

.nav ul {
    list-style-type: none;
    padding: 0px;
}
.nav .selected {
    font-weight: bold;
}

.main {
    background: linear-gradient(to bottom, #9999ff 0%, #bbabbd 100%);
    width: 840px;
    float: right;
    padding: 1em;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #4E327D;
    color: white;
    text-align: right;
}
